<html>
    <body>
        <h1>CROWDFUNDING!</h1>
        <form action="/logout" method="POST">
            <input type="submit" value="Logout">
        </form>
        
        <!---
        This loops through the table and puts the 'id' and 'result' in a list.
        @res is the query result obtained from the get '/' route.
        -->
        <ul>
        <% @res.each do |row| %>
            <li>
                <%= row['id'] + ' ' + row['title'] %>
            </li>
        <% end %>
        </ul>

    </body>
</html>

