<html>
    <head>
    </head>
    <body>
        <h1>Login</h1>
        <form method="POST" action="/login">
            <div>
                <p>Email</p>
                <input type="text" name="email">
            </div>
            <div>
                <p>Password</p>
                <input type="password" name="password">
            </div>
            <input type="submit">
        </form>
        <h1>Register</h1>
        <form method="POST" action="/register">
            <div>
                <p>Email</p>
                <input type="text" name="email">
            </div>
            <div>
                <p>Password</p>
                <input type="password" name="password">
            </div>
            <div>
                <p>First name</p>
                <input type="text" name="first_name">
            </div>
            <div>
                <p>Last name</p>
                <input type="text" name="last_name">
            </div>
            <input type="submit">
        </form>
    </body>
</html>
